.wrapper {
  display: inline-block;
  position: relative;
  width: 100px;
  line-height: 1em;
}

.icon {
  width: 100%;
  height: auto;
}

.rank {
  width: 100%;
  text-align: center;
  font-size: 0.9em;
  color: white;
  font-family: Roboto-Bold;
}

.name {
  /*font-family: Roboto-Thin;*/
  font-size: 1.1em;
}

.stats {
  width: 100%;
  text-align: center;
  font-size: 0.85em;
  color: var(--caption-color);
}
