<div class="block" [ngStyle]="{'width.px': width, 'height.px': height, 'left.px': left, 'top.px': top, 'margin.px': margin}"  (click)="click($event)">
  <div class="wrapper">
    <!-- edit -->
    <div class="edit" [ngStyle]="{'display': editDisplay}" (mousedown)="startDrag($event)">
      <div class="edit-text">
        Drag to move around
      </div>
      <div class="delete" (click)="delete($event)">delete</div>
    </div>
    <div class="resize" [ngStyle]="{'display': editGridService.edit ? 'block' : 'none'}" (mousedown)="startResize($event)">grain</div>
    <!-- content -->
    <div id="content" [ngStyle]="{'line-height.px': height}">
      <!-- Skeleton to make a grid-layout inside the block -->
      <!--
        <app-grid-layout *ngIf="!data" [blocksWidth]="blocksWidth" [blocksHeight]="blocksHeight" margin="0" [cols]="gridCols" [lines]="gridLines"></app-grid-layout>
        <div *ngIf="data">
          {{ data }}
        </div>
      -->
      <div *ngIf="!template ; else template">
        <div class="templates-list">
          <button *ngFor="let temp of templates" (click)="template = temp">{{ temp }}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- templates -->
<ng-template #summoner>
  <div class="padding-left-right">
    <img src='{{ dataService.summoner.icon }}' class='icon'>
    <div class='col'>
      <b>{{ dataService.summoner.name }}</b><br>
      <span class="caption">{{ dataService.league.RANKED_SOLO_5x5.tier }} {{ dataService.league.RANKED_SOLO_5x5.rank }}</span><br>
      <span class="caption">lvl {{ dataService.summoner.summonerLevel }}</span>
    </div>
  </div>
</ng-template>

<ng-template #champions>
  <div class="champion-search">
    <input class="champion-search-input" placeholder="ex: yasuo, teemo, 1, 7, ..." [(ngModel)]="masteryFilter">
  </div>
  <div class="champions-list">
    <ng-container *ngFor="let champion of dataService.masteries">
      <champion *ngIf="!masteryFilter || champion.championName.toLowerCase().includes(masteryFilter.toLowerCase()) || '1234567'.split('').includes(masteryFilter) && champion.championLevel == masteryFilter" [champion]="champion"></champion>
    </ng-container>
  </div>
</ng-template>

<ng-template #truc>
  truc
</ng-template>
