.block {
  transition: 0.2s;
  display: inline-block;
  background-color: rgb(242, 242, 242);
  color: black;
  line-height: 1.2em;
  position: absolute;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.224);
  pointer-events: auto;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.edit {
  transition: 0.4s;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0,0,0,0.64);
  color: white;
  cursor: move;
  user-select: none;
}

.edit-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.resize {
  font-family: Material-Icons;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 19px;
  height: 19px;
  font-size: 21px;
  line-height: 19px;
  cursor: nw-resize;
}

.delete {
  transition: 0.4s;
  font-family: Material-Icons;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 21px;
  cursor: pointer;
}

.delete:hover {
  background-color: var(--danger-color);
}
