<div class="block" [ngClass]="editGridService.edit ? 'show-settings' : ''" [ngStyle]="{'width.px': width, 'height.px': height, 'left.px': left, 'top.px': top, 'margin.px': margin}">
  <div class="wrapper">
    <!-- edit -->
    <div class="edit">
      <div class="top-bar" (mousedown)="startDrag($event)">
        <div class="delete" (click)="delete($event)">delete</div>
      </div>
      <div class="edit-text">
        Drag to move around
      </div>
    </div>
    <div class="resize" (mousedown)="startResize($event)">grain</div>
    <!-- content -->
    <div id="content" [ngStyle]="{'line-height.px': height}">
      <!-- Skeleton to make a grid-layout inside the block -->
      <!--
        <app-grid-layout *ngIf="!data" [blocksWidth]="blocksWidth" [blocksHeight]="blocksHeight" margin="0" [cols]="gridCols" [lines]="gridLines"></app-grid-layout>
        <div *ngIf="data">
          {{ data }}
        </div>
      -->
      <div *ngIf="!template ; else template">
        <div class="templates-list">
          <button *ngFor="let temp of templatesNames" (click)="template = temp">{{ temp }}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!------------------------------------------------------------------------------------------------------------------------------------------------------->
<!-- TEMPLATES -->
<!--
How to create a new template:
 - Create a <ng-template> tag with the name of your template after a # : <ng-template #myTemplate></ng-template>
 - Put the content of your template inside the tag
 - Go to block.component.ts
 - Create the attribute for your template : @ViewChild('myTemplate', { read: TemplateRef }) templateMyTemplate;
 - Add your template to the templates collection inside ngAfterViewInit : this.templates.myTemplate = this.templateMyTemplate
 - GG
-->

<ng-template #summoner>
  <div class="padding-left-right">
    <img src='{{ dataService.summoner.icon }}' class='icon'>
    <div class='col'>
      <b>{{ dataService.summoner.name }}</b><br>
      <span class="caption">{{ dataService.league.RANKED_SOLO_5x5.tier }} {{ dataService.league.RANKED_SOLO_5x5.rank }}</span><br>
      <span class="caption">lvl {{ dataService.summoner.summonerLevel }}</span>
    </div>
  </div>
</ng-template>

<ng-template #champions>
  <div class="champion-search">
    <input class="champion-search-input" placeholder="ex: yasuo, teemo, 1, 7, ..." [(ngModel)]="masteryFilter">
  </div>
  <div class="champions-list">
    <ng-container *ngFor="let champion of dataService.masteries">
      <champion *ngIf="!masteryFilter || champion.championName.toLowerCase().includes(masteryFilter.toLowerCase()) || '1234567'.split('').includes(masteryFilter) && champion.championLevel == masteryFilter" [champion]="champion"></champion>
    </ng-container>
  </div>
</ng-template>

<ng-template #leagues>
  <div class="leagues-wrapper">
    <div class="wrapper">
      <league *ngIf="settings.soloQ" [league]="dataService.league.RANKED_SOLO_5x5" [displayGames]="settings.displayLeagueGames" [displayWinrate]="settings.displayLeagueWinrate"></league>
      <league *ngIf="settings.flex" [league]="dataService.league.RANKED_FLEX_SR" [displayGames]="settings.displayLeagueGames" [displayWinrate]="settings.displayLeagueWinrate"></league>
      <league *ngIf="settings.tt" [league]="dataService.league.RANKED_FLEX_TT" [displayGames]="settings.displayLeagueGames" [displayWinrate]="settings.displayLeagueWinrate"></league>
    </div>
  </div>
  <div class="settings">
    <h5>Leagues to display :</h5>
    <input type="checkbox" [(ngModel)]="settings.soloQ"><label>SoloQ</label><br>
    <input type="checkbox" [(ngModel)]="settings.flex"><label>Flex 5v5</label><br>
    <input type="checkbox" [(ngModel)]="settings.tt"><label>Flex 3v3</label><br>
    <h5>Data to display :</h5>
    <input type="checkbox" [(ngModel)]="settings.displayLeagueGames"><label>Number of games</label><br>
    <input type="checkbox" [(ngModel)]="settings.displayLeagueWinrate"><label>Winrate</label>
  </div>
</ng-template>
