.block {
  transition: 0.2s;
  display: inline-block;
  /*background-color: rgb(242, 242, 242);*/
  background-color: var(--secondary-bg-color);
  color: white;
  line-height: 1.2em;
  position: absolute;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.6);
  pointer-events: auto;
  overflow: auto;
}

.block.show-settings {
  overflow: hidden;
}

.edit {
  transition: 0.4s;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0,0,0,0.64);
  color: white;
  user-select: none;
  z-index: 1;
  border-radius: 2px;
  display: none;
}

.show-settings .edit {
  display: block;
}

.edit-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.show-settings .edit-text {
  display: none;
}

.resize {
  display: none;
  font-family: Material-Icons;
  position: absolute;
  right: 2px;
  bottom: 1px;
  width: 19px;
  height: 19px;
  font-size: 21px;
  line-height: 19px;
  cursor: nw-resize;
  user-select: none;
  color: white;
  z-index: 2;
}

.show-settings .resize {
  display: block;
}

.top-bar {
  width: 100%;
  height: 32px;
  line-height: 32px;
  background-color: var(--main-bg-color);
  text-align: right;
  cursor: move;
}

.delete {
  display: inline-block;
  transition: 0.4s;
  font-family: Material-Icons;
  text-align: center;
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 26px;
  cursor: pointer;
  border-radius: 2px;
}

.delete:hover {
  background-color: var(--danger-color);
}

#content {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: left;
}

.templates-list {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 5px;
  line-height: 1em;
}

.templates-list button {
  width: 100%;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.settings {
  display: none;
  line-height: 1.5em;
  position: absolute;
  top: 32px;
  left: 0;
  width: 100%;
  height: calc(100% - 32px);
  box-sizing: border-box;
  padding: 5px;
  z-index: 1;
  overflow: auto;
}

.show-settings .settings {
  display: block;
}

/* Templates */
.padding-left-right {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
}

.padding {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 5px;
}

.col {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.2em;
  margin-left: 5px;
}

.icon {
  display: inline-block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  vertical-align: middle;
}

.champion-search {
  position: relative;
  width: 100%;
  height: 32px;
  line-height: 32px;
  background-color: var(--main-bg-color);
}

.champion-search-input {
  position: absolute;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: none;
  padding: 5px;
  margin: 0;
  outline: none;
  border-radius: 2px 2px 0 0;
}

.champions-list {
  transition: 0.2s;
  line-height: 1em;
  width: 100%;
  height: calc(100% - 32px);
  overflow: auto;
  text-align: center;
}

.leagues-wrapper {
  text-align: center;
  line-height: 1em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
