<div class="block" [ngStyle]="{'width.px': width, 'height.px': height, 'left.px': left, 'top.px': top, 'margin.px': margin}">
  <div class="wrapper">
    <div class="edit" [ngStyle]="{'display': editGridService.edit ? 'none' : 'none'}" (mousedown)="startDrag($event)">
      <div class="edit-text">
        Drag to move around
      </div>
      <div class="delete" (click)="delete($event)">delete</div>
      <div class="resize" (mousedown)="startResize($event)">grain</div>
    </div>
    <div id="content">
      <app-grid-layout></app-grid-layout>
    </div>
  </div>
</div>
