#wrapper {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 82px;
  margin: 5px;
}

.icon {
  width: 100%;
  height: auto;
  /*border-radius: 50%;*/
}

.masteryWrapper {
  position: absolute;
  left: 50%;
  top: 54px;
  transform: translateX(-50%);
}

.mastery {
  width: 32px;
  height: auto;
}
