<div class="grid-layout">
  <div class="grid-wrapper" [ngStyle]="{'width.px': width, 'height.px': height}">
    <div class="grid-view" [ngClass]="viewClass">
      <div class="grid-view-cell" [ngStyle]="{'width.px': blocksWidth, 'height.px': blocksHeight, 'margin.px': margin / 2}"
      (mousedown)="addBlock($event)" *ngFor="let number of arr(cols * lines)"></div>
    </div>
    <div class="grid" #grid>
      <!-- Create Blocks using GridLayoutComponent.addBlock(...) -->
    </div>
  </div>
</div>

<popup title="Grid Layout" #settings>
  <h5>Load Configs</h5>
  <md-select label="Config" [(value)]="configName" [values]="configsNames"></md-select>
  <h5>Save config</h5>
  <textfield label="Config name" [(value)]="configNameToSave"></textfield>
  <div style="text-align: right">
    <button (click)="saveConfig(configNameToSave)">save</button>
  </div>
  <h5>Settings</h5>
  <textfield label="Columns" type="number" [(value)]="cols" min='1'></textfield>
  <textfield label="Lines" type="number" [(value)]="lines" min='1'></textfield>
  <textfield label="Margin" type="number" [(value)]="margin"></textfield>
  <textfield label="Blocks width" type="number" [(value)]="blocksWidth" min='1'></textfield>
  <textfield label="Blocks height" type="number" [(value)]="blocksHeight" min='1'></textfield>
  <!--cols: {{cols}}<br>
  lines: {{lines}}<br>
  margin: {{margin}}<br>
  blocksWidth: {{blocksWidth}}<br>
  blocksHeight: {{blocksHeight}}<br>
  width: {{width}}<br>
  height: {{height}}<br>-->
  <div style="text-align: right">
    <button (click)="settings.hide()">confirm</button>
  </div>
</popup>
